<a href="https://colab.research.google.com/github/saivardhan4f0/AI/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

In [3]:
col_names = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label']
# load dataset
pima = pd.read_csv("/content/drive/MyDrive/newcube.csv")
pima.head()

    N    P    K  temperature   humidity        ph    rainfall  label
0  24  128  196    22.750888  90.694892  5.521467  110.431786      1
1   7  144  197    23.849401  94.348150  6.133221  114.051250      1
2  14  128  205    22.608010  94.589006  6.226290  116.039659      1
3   8  120  201    21.186674  91.134357  6.321152  122.233323      1
4  20  129  201    23.410447  91.699133  5.587906  116.077793      1

In [4]:
feature_cols = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']
X = pima[feature_cols] # Features
y = pima.label # Target variable

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [6]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [7]:
y_pred = clf.predict(X_test)

In [8]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9863636363636363

In [9]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=4)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.646969696969697

In [13]:
import pickle
# Save the model
filename = 'model.pkl'
pickle.dump(clf, open(filename, 'wb'))

In [14]:
list_of_columns = ['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']
input_data=pd.DataFrame(columns=list_of_columns)


input_data.at[0,'N']=int(input('enter nitrogen level(N)'))
input_data.at[0,'P']=int(input('enter phosphorus level(P)'))
input_data.at[0,'K']=int(input('enter potassium level(K)'))
input_data.at[0,'temperature']=float(input ('enter temperature'))
input_data.at[0,'humidity']=float(input ('enter humidity '))
input_data.at[0,'ph']=float(input('enter pH value of soul'))
input_data.at[0,'rainfall']=float(input('enter rainfall value'))

model = pickle.load(open('model.pkl', 'rb'))
prediction = model.predict(input_data)
result = prediction[0]
print('crop  ',result)

enter nitrogen level(N)24
enter phosphorus level(P)128
enter potassium level(K)196
enter temperature22.7
enter humidity 90.6
enter pH value of soul15.5
enter rainfall value110
crop   1